.orders-list {
    padding-top: 20px;
}

.order {
    padding: 10px;
    border: 1px solid transparent;
    background: transparent;
    margin-bottom: 10px;
    cursor: pointer;
}

.order:hover {
    background: rgba(220, 220, 220, .5);
    border: 1px solid #ddd;
}

.order.selected {
    background: rgba(217, 235, 246, .5);
    border: 1px solid #33afce;
}

.order .vendor {
    font-weight: bold;
    font-size: 14px;
}

.order .expires-at {
    display: none;
}

.order .interval {
    display: none;
}

.login-display 
{
	line-height: 50px;
	vertical-align: middle;
	padding-right: 20px;
}

.fa.large {
	font-size: 1.8em;
}

.loader {
	color: #aaa;
}

body {
	background: url(../Images/coffee-back.png) no-repeat center center;
	min-height: 600px;
}